<h1> hello from Angular</h1>
<!-- <app-firstcomponent>
  <app-fchildcomponent>

  </app-fchildcomponent>
</app-firstcomponent>
<app-interpolation></app-interpolation>
<app-propertybinding></app-propertybinding>
<app-eventbinding></app-eventbinding>
<app-twowaydatabinding></app-twowaydatabinding> -->
<!-- <app-login></app-login>
<app-directives></app-directives> -->
<p appCustomdirective>This is paragraph</p> <!-- no color set as property not given , only directive used-->
<p appCustomdirective appHighlight="red">Highlight me!</p> <!-- sets color red given to property appHighLight-->
<!-- <app-secondcomponent></app-secondcomponent> -->
<!-- <app-pipecomponent></app-pipecomponent> -->

<!-- <app-parent1></app-parent1>
<app-parent2></app-parent2>
<app-emplist></app-emplist>
<app-emphttp></app-emphttp>-->
<!-- <app-apiservice></app-apiservice> -->
<!-- <app-routingcomp></app-routingcomp> -->
<!-- <app-templatedrivenform></app-templatedrivenform> -->
<!-- <app-reactive-forms></app-reactive-forms> -->
